---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/show.json?screen_name=dhh
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAAAAAAAAAAAAAAAAAAAABfSfwAAAAAAbpLNPe2578JCQ8b8TOKQMBC29NQ%3DrlGK7jB2Wxkr4byuJeF0L3gnOlzoNxFo4QTwvUEygzNfMHxmRY
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Sun, 31 May 2015 11:30:43 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Connection-Hash:
      - e7912b00e19e7d530b8157e22704c93a
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1433072743'
      X-Response-Time:
      - '129'
      X-Transaction:
      - 948a672e0c841247
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"id":14561327,"id_str":"14561327","name":"DHH","screen_name":"dhh","location":"Chicago,
        USA","profile_location":null,"description":"Creator of Ruby on Rails, Founder
        & CTO at Basecamp (formerly 37signals), NYT Best-selling author of REWORK
        and REMOTE, and Le Mans class-winning racing driver.","url":"http:\/\/t.co\/IaAsahpjsQ","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/IaAsahpjsQ","expanded_url":"http:\/\/david.heinemeierhansson.com","display_url":"david.heinemeierhansson.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":138907,"friends_count":195,"listed_count":7492,"created_at":"Sun
        Apr 27 20:19:25 +0000 2008","favourites_count":61,"utc_offset":-18000,"time_zone":"Central
        Time (US & Canada)","geo_enabled":true,"verified":true,"statuses_count":25457,"lang":"en","status":{"created_at":"Sun
        May 31 05:11:49 +0000 2015","id":604877923678601216,"id_str":"604877923678601216","text":"RT
        @radleybalko: Police shootings of civilians this year is twice the ten-year
        average. http:\/\/t.co\/2qni7ebf1R - (And shooting deaths of co\u2026","source":"\u003ca
        href=\"https:\/\/play.google.com\/store\/apps\/details?id=com.dwdesign.tweetings&hl=en\"
        rel=\"nofollow\"\u003eTweetings for Android\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweeted_status":{"created_at":"Sun
        May 31 02:29:55 +0000 2015","id":604837179429425152,"id_str":"604837179429425152","text":"Police
        shootings of civilians this year is twice the ten-year average. http:\/\/t.co\/2qni7ebf1R
        - (And shooting deaths of cops is well below.)","source":"\u003ca href=\"http:\/\/twitter.com\/#!\/download\/ipad\"
        rel=\"nofollow\"\u003eTwitter for iPad\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":122,"favorite_count":52,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"http:\/\/t.co\/2qni7ebf1R","expanded_url":"http:\/\/nzzl.us\/1NBYfBr","display_url":"nzzl.us\/1NBYfBr","indices":[71,93]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"retweet_count":122,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"user_mentions":[{"screen_name":"radleybalko","name":"Radley
        Balko","id":15816595,"id_str":"15816595","indices":[3,15]}],"urls":[{"url":"http:\/\/t.co\/2qni7ebf1R","expanded_url":"http:\/\/nzzl.us\/1NBYfBr","display_url":"nzzl.us\/1NBYfBr","indices":[88,110]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"},"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"C0DEED","profile_background_image_url":"http:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_image_url_https":"https:\/\/abs.twimg.com\/images\/themes\/theme1\/bg.png","profile_background_tile":false,"profile_image_url":"http:\/\/pbs.twimg.com\/profile_images\/2556368541\/alng5gtlmjhrdlr3qxqv_normal.jpeg","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/2556368541\/alng5gtlmjhrdlr3qxqv_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/14561327\/1398347760","profile_link_color":"0084B4","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":true,"default_profile_image":false,"following":null,"follow_request_sent":null,"notifications":null}'
  recorded_at: Sun, 31 May 2015 11:30:44 GMT
recorded_with: VCR 2.9.3
