---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.2/users?inname=slg&site=stackoverflow
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[{"badge_counts":{"bronze":20,"silver":7,"gold":0},"account_id":1317411,"is_employee":false,"last_modified_date":1432152230,"last_access_date":1432808251,"reputation_change_year":35,"reputation_change_quarter":15,"reputation_change_month":0,"reputation_change_week":0,"reputation_change_day":0,"reputation":669,"creation_date":1331551634,"user_type":"registered","user_id":1263978,"accept_rate":100,"location":"M&#243;stoles,
        Spain","website_url":"http://kathars.es","link":"http://stackoverflow.com/users/1263978/jeslg","profile_image":"https://www.gravatar.com/avatar/4f743df6a6da0e9b61f824c2b235e2fa?s=128&d=identicon&r=PG","display_name":"jeslg"},{"badge_counts":{"bronze":18,"silver":6,"gold":0},"account_id":1272444,"is_employee":false,"last_modified_date":1432365593,"last_access_date":1433043155,"age":26,"reputation_change_year":17,"reputation_change_quarter":10,"reputation_change_month":10,"reputation_change_week":0,"reputation_change_day":0,"reputation":423,"creation_date":1330003020,"user_type":"registered","user_id":1228429,"accept_rate":53,"location":"Moratuwa,
        Sri Lanka","website_url":"http://www.insightforfuture.blogspot.com/","link":"http://stackoverflow.com/users/1228429/andunslg","profile_image":"https://www.gravatar.com/avatar/4488b7fd7af9a7d16d02273b3d68cd55?s=128&d=identi[...]
