---
http_interactions:
- request:
    method: get
    uri: https://api.stackexchange.com/2.2/users?inname=trtrtrtrtr&site=stackoverflow
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"items":[],"has_more":false,"quota_max":300,"quota_remaining":291}'
  recorded_at: Sun, 31 May 2015 07:33:19 GMT
recorded_with: VCR 2.9.3
